@model IEnumerable<ImpactMap.Models.Investment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.entityTo_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.categories)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.projectTo.report.name)
        </th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.entityTo_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categories)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.projectTo.report.name)
        </td>
    </tr>
    }
