@model ImpactMap.Models.DashboardViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Investment.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Investment.amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Investment.entityTo.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Investment.categories)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Investment.projectTo.report)
        </th>
    </tr>
    @foreach (var item in Model.Investments)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.entityTo.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categories)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.projectTo.report)
        </td>
    </tr>
    }
