@model ImpactMap.Models.Entity

@{
    ViewBag.Title = "Index";
}

<h1>Dashboard</h1>

<div class="addpadding">
    <dt class="dl-horizontal">

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.address1)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.address2)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.zip)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.lat)
        </dd>

        @Html.ActionLink("Edit", "Edit", "Entity", new { @class = "btn btn-primary" })

        @*@Html.ActionLink("Edit", "Edit", new { id = model.ID })*@

</div>

<h2>Investments Sent</h2>

<div class="addpadding">

    @Html.ActionLink("Create New Investment", "Create", "Investments", "Investments", new { @class = "btn btn-primary" })

    @Html.ActionLink("View All Investments", "Index", "Investments", "Investments", new { @class = "btn btn-primary" })

    @if (Model.investmentsOut != null)
    {

        <table class="table">
            <tr>
                <th>
                    Investment Date
                </th>
                <th>
                    Value
                </th>
                <th>
                    Recipient
                </th>
                <th>
                    Reports
                </th>
            </tr>

            @*Displays each investment in the table*@
            @{foreach (var item in Model.investmentsOut)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.entityTo.name)
                        </td>
                        <td>
                            @{  if (item.projectTo.report != null)
                                {
                                    string reportID = Convert.ToString(item.projectTo.report.ID);
                                    @Html.ActionLink("Report", reportID, "Details", "Report")
                                }
                                else
                                {
                                    <span>No report available.</span>
                                }
                            }
                        </td>
                    </tr>
                                    }
                                }


    </table>

                                }
                                else
                                {
                                    <p>No Investment Available</p>
                                }








        </div>
        <h2>My Projects</h2>

        <div class="addpadding">


            @Html.ActionLink("Create New Project", "Create", "Projects", "Projects", new { @class = "btn btn-primary" })

            @Html.ActionLink("View All Projects", "Index", "Projects", "Projects", new { @class = "btn btn-primary" })

            <table class="table">
                <tr>
                    <th>
                        Project Name
                    </th>
                    <th>
                        Value of Grant
                    </th>
                    <th>
                        Grant Date
                    </th>
                    <th>
                        Donor(s)
                    </th>
                    <th>
                        Report
                    </th>
                </tr>


                @if (Model.investmentsOut != null)
                {
                    foreach (var item in Model.projects)
                    {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @foreach (var thing in item.investmentsIn)
                        {
                                @Html.DisplayFor(modelItem => thing.amount)<br />
                                }
                    </td>
                    <td>
                        @foreach (var thing in item.investmentsIn)
                        {
                                @Html.DisplayFor(modelItem => thing.date)<br />
                                }
                    </td>
                    <td>
                        @foreach (var thing in item.investmentsIn)
                        {
                                @Html.DisplayFor(modelItem => thing.entityFrom.name)<br />
                                }
                    </td>
                    <td>
                        @{  if (item.report != null)
                                    {
                                        string reportID = Convert.ToString(item.report.ID);

                                @Html.ActionLink("View", reportID, "Details", "Report")
                                    }
                                    else
                                    {
                                        //Default create report page right now
                                @Html.ActionLink("Create", "Create", "Report")
                                    }
                        }
                    </td>
                </tr>
                                        }
                                    }
            </table>
        </div>