@model ImpactMap.Models.DashboardViewModel

@{
    ViewBag.Title = "Index";
}

<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>

<h1>Dashboard</h1>

@if (Model.Investments != null)
{
<h2>Investments Sent</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Investment.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Investment.amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Investment.entityTo.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Investment.categories)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Investment.projectTo.report)
        </th>
    </tr>

        @foreach (var item in Model.Investments)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.entityTo.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categories)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.projectTo.report)
            </td>
        </tr>
        }
    }
    </table>
}
@if (Model.Projects != null)
{
    <h2>My Projects</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Project.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Investment.date)
            </th>
            <th>
                Donating @Html.DisplayNameFor(model => model.Investment.entityFrom.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Investment.amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Investment.projectTo.report)
            </th>
        </tr>
            @foreach (var item in Model.Projects)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @foreach (var thing in item.investmentsIn)
                        {
                            @Html.DisplayFor(modelItem => thing.date)
                        }
                    </td>
                    <td>
                        @foreach (var thing in item.investmentsIn)
                        {
                            @Html.DisplayFor(modelItem => thing.entityFrom.name)
                        }                
                    </td>
                    <td>
                        @foreach (var thing in item.investmentsIn)
                        {
                            @Html.DisplayFor(modelItem => thing.amount)
                        }                    
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.report)
                    </td>
                </tr>
            }
    </table>
    }