 <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/Content/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/Content/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/Content/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/Content/images/favicons/manifest.json">
    <link rel="mask-icon" href="/Content/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/Content/images/favicons/favicon.ico">
    <meta name="msapplication-config" content="/Content/images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="container">            
            <div class="navbar-header">
                <img src="~/Content/Images/impact_map.png" style="display:inline-block; max-height:10%; max-width:10%;" />
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
@*<<<<<<< HEAD
                @Html.ActionLink("ImpactMap", "Index", "Dashboard", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                </ul>
=======*@
            </div>
            <div class="navbar-collapse collapse">

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <footer>
        <div class="row">
            <!--<div class="col-md-4">
            </div>-->

            <div class="col-md-6 col-md-offset-4">
                <br>
                <img class="img-responsive" src="~/Content/Images/NeighborhoodAllies_textonly.svg" />
                <br>
            </div>

            <div class="col-md-2">
                <div style="text-align: center;">
                    <br>
                    <p class="footerText">
                        Software created by
                    </p>
                    <img class="academylogo" src="~/Content/Images/Academy_pgh.png" />
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
