 <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ImpactMap</title>

    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/Images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="~/Content/Images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/Content/Images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="~/Content/Images/favicons/manifest.json">
    <link rel="mask-icon" href="~/Content/Images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="~/Content/Images/favicons/favicon.ico">
    <meta name="msapplication-config" content="~/Content/Images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="container">            
            <div class="navbar-header">
               
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="navbar-brand">
                    <a href='@Url.Action("Index","Dashboard")'>
                        <img src="~/Content/Images/impact_map.png" style="display:inline-block; max-height:10%; max-width:10%;" />
                    </a>
                    <h1>ImpactMap</h1>
                </div>

                <div id="headerNotifs" class="navbar-collapse collapse">
                    <ul id="headerUl">

                    </ul>
                </div>            

            <div class="navbar-collapse collapse">

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
        </div>
    <div class="body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <footer>
        <div class="container">
            <div class="row">
             

                <div class="col-md-6 col-md-offset-4">
                    <br>
                    <img class="img-responsive" src="~/Content/Images/NeighborhoodAllies_textonly.svg" />
                    <br>
                </div>

                <div class="col-md-2">
                    <div style="text-align: center;">
                        <br>
                        <p class="footerText">
                            Software created by
                        </p>
                        <img class="academylogo" src="~/Content/Images/Academy_pgh.png" />
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
<script>
    function getCurrEntity() {
        $.ajax({
            url: '/Entities/GetCurrEntity/',
            type: 'get',
            success: function (data) {
                console.log(data);
                //data.products.map(function (entity) {
                //    console.log(entity.ID);
                //    currEntityID = entity.ID;
                xxx = data.ID;
            }
        });
                }


        function getReportNotifs(currEntityID) {
            $.ajax({
                url: '/Entities/GetReportNotifs/' + currEntityID + '/',
                type: 'get',
                success: function (data) {
                    console.log("I should come after 2");
                    var html = '';
                    data.map(function (project) {
                        //html += '<li>' + replayEvent.DisplayName + '<span data-id=' + replayEvent.Id + ' class="DeleteButton btn btn-primary">Delete</span></li>'
                        html += '<li>' + project.name + '</li>'
                    });
                    $('#headerUl').html(html);
                }
            });
        };

        
        //function initialize() {
            
        //    //getCurrEntity();
        //    //var currEntityID = getCurrEntity();
        //    //getReportNotifs(currEntityID);
        //    var xxx;
        //    console.log(xxx)
        //    console.log("hello????")
        //    getCurrEntity();
        //    console.log(xxx);
        //    getReportNotifs(xxx);
    //}

        //$(getReportNotifs(currEntityID));


</script>