@model ImpactMap.Controllers.CategoryViewModel

@{
    ViewBag.Title = "Create Organizational Funding Categories";
}

<div class="container">
    <div class="pageInfo">

        <h2><i class="fa fa-plus-circle" aria-hidden="true"></i>@ViewBag.Title</h2>

        <div class="subNav">

            <a href=@Url.Action("Index", "Categories")><i class="fa fa-list-alt" aria-hidden="true" title="Tags List"></i></a>
            <a href=@Url.Action("Index", "Dashboard")><i class="fa fa-tachometer" aria-hidden="true" title="Return to Dashboard"></i></a>
        </div>

    </div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-md-6">
           <div class="form-group">
            <label class="control-label">Program Area</label> <i class="fa fa-question-circle tts" data-toggle="tooltip" data-placement="right" title="Select a program area"></i>
            <div id="baseCatList">
                <select id="baseID" name="baseID" class="form-control"></select>
                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Organizational Funding Category</label><i class="fa fa-question-circle tts" data-toggle="tooltip" data-placement="right" title="Create an Organizational Funding Category"></i>
            @Html.EditorFor(model => model.Category.name, new { htmlAttributes = new { @class = "form-control", id="newCategory"} })
            @Html.ValidationMessageFor(model => model.Category.name, "", new { @class = "text-danger" })
        </div>


        <div class="form-group">
            <label for="metrics"class="control-label">Add Metrics</label><i class="fa fa-question-circle tts" data-toggle="tooltip" data-placement="right" title="Add relevant metrics to this funding category. For example, a metric for the funding category 'Food Insecurity' would be 'Number of Meals Served.'"></i>
            <br />
            <input type="text" id="metrics" placeholder="Add a New Metric" class="form-control metric"/> <i class="fa fa-plus-circle" aria-hidden="true" id="addMetric"></i><br>
            <input name="newMetrics" id="newMetrics" type="hidden" />

        </div>

            <div class="form-group">
                <div>
                    <input type="submit" value="Create" class="button" />
                </div>
            </div>

            </div>

        <div class="col-md-6">
            <div id="categoryDisplay">
                <h2></h2>
            <div id="displayMetrics"></div>
            </div>
            </div>


       
    </div>


}



    </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")

            <script>
                newMetrics = [];

                function load_baseCategories() {
                    $.ajax({
                        url: '/public/categories',
                        type: 'GET',
                        success: function (data) {
                            //$('#CatList').html('<ul>');
                            data.map(function (category) {
                                if (category.isBase == true) {
                                    $('#baseID').append('<option id="cat' + category.ID + '" value=' + category.ID + '>' + category.name + '</option>')
                                }
                            });
                            //$('#CatList').append('</ul>');
                        }
                    })
                }

                
                function addMetrics() {
                   
                    if ($('#metrics').val() != "") {
                        newMetrics.push($('#metrics').val()); //pushes the metric into the newMetrics array
                        $('#displayMetrics').append('<span class="removeMetric" id="' + $('#metrics').val() + '"><i class="fa fa-minus-circle" aria-hidden="true" title="Click to Remove this Metric"></i>' + $('#metrics').val() + '</span>');//Adds the new metric to the display
                        $('#metrics').val("");//Clears the value of the input box to accept a new metric
                        $('#newMetrics').val(newMetrics.toString());//Converts newMetrics array to string and puts it into the hidden input
                        $('.removeMetric').click(function () { removeMetrics(this.id) });
                        console.log($('#newMetrics').val())
                        $('#metrics').focus();
                    }
                };

                
                function removeMetrics(id) {
                    if (newMetrics.indexOf(id) != -1) {
                        var i = newMetrics.indexOf(id);
                        newMetrics.splice(i, 1);
                        $('#newMetrics').val(newMetrics.toString());
                        $('#' + id).remove();
                        console.log('Removed:' + newMetrics.toString());
                    }
                };

                function categoryDisplay() {
                    $("#categoryDisplay>h2").html($('#newCategory').val());
                };

                $('#newCategory').blur(categoryDisplay);
                $('#addMetric').click(addMetrics);
                $('.removeMetric').click(function () { removeMetrics(this.id) });

                $('#metrics').keypress(function (event) {
                    if (event.which == 13) {
                        event.preventDefault();
                        addMetrics();
                    }
                });

                $(load_baseCategories);
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })

            </script>
        }
