@model IEnumerable<ImpactMap.Models.Category>

@{
    ViewBag.Title = "Tags List";
}

<div class="container">

    <div class="pageInfo">
        <h2>@ViewBag.Title</h2>

        <div class="subNav">
            <a href=@Url.Action("Create", "Categories")><i class="fa fa-plus-circle" aria-hidden="true" title="Create New Tag"></i></a>
            <a href=@Url.Action("Index", "Categories")><i class="fa fa-list-alt" aria-hidden="true" title="Tags List"></i></a>
            <a href=@Url.Action("Index", "Dashboard")><i class="fa fa-tachometer" aria-hidden="true" title="Return to Dashboard"></i></a>
        </div>
    </div>

    <hr />

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.metrics)

            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.isBase == true)
            {
                int baseID = item.ID;
                <tr>
                    <td>
                        Base Tag: @item.name
                    </td>
                    <td>

                        @if (item.metrics.Count != 0)
                    {

                        foreach (var metric in item.metrics)
                        {
                                <span class="metricName">@metric.name</span>
                            }
                        }
                        else
                        {
                            <span>No Metrics Available</span>
                        }
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID })
                    </td>
                </tr>

                foreach (var subItem in Model)
                {
                    if (subItem.baseID == baseID)
                    {
                        <tr>
                            <td>
                                <span class="glyphicon glyphicon-tag"></span>
                                @subItem.name
                            </td>
                            <td>

                                @if (subItem.metrics.Count != 0)
                                {

                                    foreach (var metric in subItem.metrics)
                                    {
                                        <span class="metricName">@metric.name</span>
                                    }
                                }
                                else
                                {
                                    <span>No Metrics Available</span>
                                }
                            </td>

                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = subItem.ID }) |
                                @Html.ActionLink("Details", "Details", new { id = subItem.ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = subItem.ID })
                            </td>
                        </tr>
                    }
                }
            }
        }

    </table>
   
</div>
