@*@model IEnumerable<ImpactMap.Models.Category>*@
@model ImpactMap.Controllers.CategoryViewModel

@{
    ViewBag.Title = "Organizational Funding Categories";
}

<div class="container">

    <div class="pageInfo">
        <h2><i class="fa fa-list-alt" aria-hidden="true"></i>@ViewBag.Title</h2>

        <div class="subNav">
            <a href=@Url.Action("Create", "Categories")><i class="fa fa-plus-circle" aria-hidden="true" title="Create New Tag"></i></a>
            <a href=@Url.Action("Index", "Categories")><i class="fa fa-list-alt" aria-hidden="true" title="Tags List"></i></a>
            <a href=@Url.Action("Index", "Dashboard")><i class="fa fa-tachometer" aria-hidden="true" title="Return to Dashboard"></i></a>
        </div>
    </div>

    <hr />

    <table id="categoriesTable" class="table tablesorter">
        <thead>
        <tr>
            <th>
                Program Area
            </th>
            <th>
               Organizational Funding Tag
            </th>
            <th class="noSortTH">
                Metrics
            </th>
            <th class="noSortTH">

            </th>
        </tr>
            </thead>
        <tbody>
            @foreach (var category in Model.UserCategories)
            {

                <tr>
                    @foreach (var baseCat in Model.BaseCategories)
                    {

                        if (baseCat.ID == category.baseID)
                        {
                            <td class="tableBaseTag">
                                @baseCat.name
                            </td>
                        }

                    }

                    <td>
                        @category.name
                    </td>

                    <td>

                        @if (category.metrics.Count != 0)
                        {

                            foreach (var metric in category.metrics)
                            {
                                <span class="metricName">@metric.name</span>
                            }
                        }
                        else
                        {
                            <span>No Metrics Available</span>
                        }
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = category.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = category.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = category.ID })
                    </td>
                </tr>
            }
        </tbody>


         
    </table>
   
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryTableSorter")
    <script>
        $(document).ready(function () {
            $("#categoriesTable").tablesorter();
        });
    </script>
}
