@model ImpactMap.Models.Report
@{
    ViewBag.Title = "Report Details";
}

<div class="container">
    <div class="pageInfo">
        <h2>@ViewBag.Title</h2>

        <div class="subNav">
            <a href=@Url.Action("Edit", new { id = Model.ID })><i class="fa fa-pencil" aria-hidden="true" title="Edit"></i></a>
            <a href=@Url.Action("Index", "Projects")><i class="fa fa-list-alt" aria-hidden="true" title="Reports List"></i></a>
            <a href=@Url.Action("Index", "Dashboard")><i class="fa fa-tachometer" aria-hidden="true" title="Return to Dashboard"></i></a>
        </div>
    </div>
    <div>

        <hr />
        <table>
            <tr>Metric Results</tr>
            @foreach (var metricResult in Model.metricResults)
            {
                <tr>
                    <td>@Html.DisplayFor(model => metricResult.metric.name)</td>
                    <td>@Html.DisplayFor(model => metricResult.resultText)</td>
                </tr>
            }
            <tr>
                <td>@Html.DisplayNameFor(model => model.reportText)</td>
                <td>@Html.DisplayFor(model => model.reportText)</td>
            </tr>
        </table>
    </div>
    
</div>