@model ImpactMap.Models.Report
@{
    ViewBag.Title = "Details";
}

<div class="container">
    <h2> Report Details</h2>
    <div>

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.completed)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.completed)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.reportText)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.reportText)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.dueDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.dueDate)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
        @Html.ActionLink("Back to List", "Index")
    </p>

</div>