@model IEnumerable<ImpactMap.Models.Report>

@{
    ViewBag.Title = "Reports List";
}

<div class="container">

    <div class="subNav">
        <a href=@Url.Action("Index", "Dashboard")><i class="fa fa-tachometer" aria-hidden="true" title="Return to Dashboard"></i></a>
    </div>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.completed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reportText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dueDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.completed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.reportText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dueDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>

    </div>
