@model ImpactMap.Models.Entity

@{
    ViewBag.Title = "ImpactMap";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div id="map"></div>

@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4VlRpvKNloHrCwtMLKy_X2UQVhW_8L5Q&callback=initialize">
    </script>
    <script src="~/Scripts/googlemapsNEW.js"></script>

    <script>

    initialize();

    @{
        string userLat = Model.lat;
        string userLng = Model.lng;
    }


    @{string currentEntityAddress = Model.address1 + "+" + Model.address2 + "+" + Model.city + "+" + Model.state + "+" + Model.zip;}

        markerlocation(@Model.ID, "@currentEntityAddress", "@Model.name", "@Model.description");

    @foreach (var item in Model.investmentsOut)
    {
        string address = item.entityTo.address1 + "+" + item.entityTo.address2 + "+" + item.entityTo.city + "+" + item.entityTo.state + "+" + item.entityTo.zip;
        <text>
        console.log("@item.entityTo.name");

        markerlocation(@item.entityTo.ID, "@address", "@item.entityTo.name", "@item.entityTo.description");

        var path = [{ lat: @userLat, lng: @userLng }, { lat: @item.entityTo.lat, lng: @item.entityTo.lng }];

        var line = new google.maps.Polyline({
            path: path,
            strokeColor: '#005E1C',
            strokeOpacity: 1.0,
            strokeWeight: 3,
            map: map
        });


        </text>
    }

    </script>
}




