@model ImpactMap.Controllers.InvestmentViewModel


@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Investment</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Investment.amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Investment.amount, new { htmlAttributes = new { @type = "number", @min = "0.01", @step = "0.01", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Investment.amount, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Investment.entityTo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="entityTo_ID">
                    @foreach (var entity in Model.Entities)
                    {
                        <option value=@entity.ID>@entity.name</option>
                    }
                </select>

            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Investment.categories, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
      
                    @foreach (var category in Model.Categories)
                    {
                        <input type="checkbox" value="@category.ID" />@category.name
                    }
            </div>
        </div>*@



        <div class="form-group">
            @*I put the following line in - it is not the same as John's*@
            @Html.LabelFor(model => model.Investment.categories, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div id="CatList"></div>
                <input name="categories" id="categories" type="hidden" />
            </div>
        </div>





        @*************************************@


        <div class="form-group">
            @Html.LabelFor(model => model.Investment.date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Investment.date, new { htmlAttributes = new { @type = "date", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Investment.date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Investment.isInKind, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Investment.isInKind)
                    @Html.ValidationMessageFor(model => model.Investment.isInKind, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Investment.volunteerHours, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Investment.volunteerHours, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Investment.volunteerHours, "", new { @class = "text-danger" })
            </div>
        </div>


        <!--TODO - Needs to populate only projects from the signed in entity-->
        <div class="form-group">
            @Html.LabelFor(model => model.Investment.projectFrom, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="projectFrom_ID">
                    @foreach (var project in Model.Projects)
                    {
                        <option value=@project.ID>@project.name</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.Investment.projectFrom_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Investment.projectTo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="projectTo_ID">
                    @foreach (var project in Model.Projects)
                    {
                        <option value=@project.ID>@project.name</option>
                    }
                </select>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
       selectedCategories = [];

        function load_categories() {
            $.ajax({
                url: '/public/categories',
                type: 'GET',
                success: function (data) {
                    $('#CatList').html('<ul>');
                    data.map(function (category) {
                        $('#CatList').append('<li id="cat' + category.Id + '" data-id=' + category.Id + '><span id="catspan' + category.Id + '"></span>' + category.Name + '</li>');
                        $('#cat' + category.Id).click(function () { toggle_category(category.Id); });
                    });
                    $('#CatList').append('</ul>');
                }
            })
        }

        function toggle_category(id) {
            // if it is not there
            // add the hidden input element
            // add the checkmark to the category
            if (!$('#catspan' + id).hasClass('fa fa-times')) {
                selectedCategories.push(id);
                $('#categories').val(selectedCategories.toString());
                $('#catspan' + id).addClass('fa fa-times');
            }
            else {

                // if it is there
                // remove the hidden input element
                // remove the checkmark on the category
                var i = selectedCategories.indexOf(id);
                selectedCategories.splice(i, 1);
                $('#categories').val(selectedCategories.toString());
                $('#catadd' + id).remove();
                $('#catspan' + id).removeClass('fa fa-times');

            }
        }

        function initialize()
        {
            load_categories();
        }

        $(initialize);
    </script>
