@model ImpactMap.Models.Investment

@{
    ViewBag.Title = "Details";
}

<div class="container">

    <h2>Investment Details</h2>

    <div>
        <h4>Investment</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.amount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.amount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.projectFrom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.projectFrom.name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.entityTo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.entityTo.name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.projectTo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.projectTo.name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.isInKind)
            </dt>

            <dt>

            </dt>

            <dd>

                @if (Model.isInKind)
            {
                    <span>Yes</span>
                }

                else
                {
                    <span>No</span>
                }
                @*@Html.DisplayFor(model => model.isInKind)*@
            </dd>

            @if (Model.isInKind)
            {

                <dt>
                    @Html.DisplayNameFor(model => model.volunteerHours)
                </dt>

                <dd>

                    @Html.DisplayFor(model => model.volunteerHours)

                </dd>
            }

            <dt>

                @Html.DisplayNameFor(model => model.categories)
            </dt>



            <dd>
                @{foreach (var cat in Model.categories)
                    {
                        <span class="commaList">@cat.name</span>
                    }
                }
            </dd>





        </dl>
    </div>
    <div class="addpadding">
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Investment List", "Index", "Investments") |
        @Html.ActionLink("Dashboard", "Index", "Dashboard")
    </div>

    </div>
