@model ImpactMap.Models.Investment

@{
    ViewBag.Title = "Investment Details";
}

<div class="container">
    <div class="pageInfo">
        <h2><i class="fa fa-file-text-o" aria-hidden="true"></i>@ViewBag.Title</h2>
        <div class="subNav">
            <a href=@Url.Action("Edit", new { id = Model.ID })><i class="fa fa-pencil" aria-hidden="true" title="Edit"></i></a>
            <a href=@Url.Action("Index", "Investments")><i class="fa fa-list-alt" aria-hidden="true" title="Investment List"></i></a>
            <a href=@Url.Action("Index", "Dashboard")><i class="fa fa-tachometer" aria-hidden="true" title="Return to Dashboard"></i></a>
        </div>
    </div>
    <div>
        <hr />
        <table class="table">
            <tr class="dashtr">
                <th>
                    @Html.DisplayNameFor(model => model.date)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.amount)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.isInKind)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.projectFrom)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.entityTo)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.projectTo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.projectTo.report)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.categories)
                </th>
            </tr>

            <tr class="dashtr">
                <td>
                    @Html.DisplayFor(model => model.date)
                </td>

                <td>
                    @Html.DisplayFor(model => model.amount)
                </td>

                <td>

                    @if (Model.isInKind)
            {
                        <span>Yes</span>
                    }

                    else
                    {
                        <span>No</span>
                    }
                    @*@Html.DisplayFor(model => model.isInKind)*@
                </td>

                <td>
                    @Html.DisplayFor(model => model.projectFrom.name)
                </td>


                <td>
                    @Html.DisplayFor(model => model.entityTo.name)
                </td>


                <td>
                    @Html.DisplayFor(model => model.projectTo.name)
                </td>

                <td>
                    @{ 
                        if (Model.projectTo.report != null)
                        {
                            @Html.ActionLink("Report", "Details", "Reports", new { id = Model.projectTo.report.ID })
                        }
                        else
                        {
                            <span>No report available.</span>
                        }
                    }
                </td>

                <td>
                    @{foreach (var cat in Model.categories)
                        {
                            <span class="commaList">@cat.name</span>
                        }
                    }
                </td>

            </tr>
    
        </table>
    </div>

</div>
