@model IEnumerable<ImpactMap.Models.Investment>

@{
    ViewBag.Title = "Index";
}


<h2>Investments List</h2>
<br /><br />

<div class="addpadding" style="max-width:1200px;">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.entityTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.projectTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isInKind)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categories)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.entityTo.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.projectTo.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isInKind)
                </td>
                <td>
                    <ul style="list-style-type:none;">
                        @foreach (var category in item.categories)
            {
                //@Html.DisplayFor(model => category.name)
                <li>@category.name</li>
            }
                    </ul>
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id=item.ID })
                </td>
            </tr>
        }

    </table>
</div>