@model ImpactMap.Controllers.InvestmentViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Investments List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Investment.amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Investment.entityFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Investment.entityTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Investment.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Investment.isInKind)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Investment.volunteerHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Investment.projectFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Investment.projectTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Investment.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Investment.categories)
        </th>

    </tr>
    
    
@foreach (var item in Model.) {
    <tr>
        <td>
            $@Html.DisplayFor(modelItem => item.amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.entityFrom.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.entityTo.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isInKind)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.volunteerHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.projectFrom.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.projectTo.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            <ul>
            @foreach (var category in item.categories)
            {
                //@Html.DisplayFor(model => category.name) 
                <li>@category.name</li>    
            }
            </ul>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>

<script>

       
    function InvestmentsOut() {
        $.ajax({
            url: '/Investments/UserInvestments/' + @{Model.Investment.entityFrom.ID} + '/',
            type: 'get',
            success: function (data) {
                var html = ' <option value="0">No Project Selected</option>';
                data.map(function (project) {
                    //html += '<li>' + replayEvent.DisplayName + '<span data-id=' + replayEvent.Id + ' class="DeleteButton btn btn-primary">Delete</span></li>'
                    html += '<option value=' + project.ID + '>' + project.name + '</option>'

                });
                $('#ProjectToDropdown').html(html);
            }
        })
    };
</script>
