@model ImpactMap.Models.Entity

@{
    ViewBag.Title = "Investments List";
}
<div class="container">

    <div class="pageInfo">
        <h2><i class="fa fa-list-alt" aria-hidden="true"></i>@ViewBag.Title</h2>
        <div class="subNav">
            <a href=@Url.Action("Create", "Investments")><i class="fa fa-plus-circle" aria-hidden="true" title="Create New Investment"></i></a>
            <a href=@Url.Action("Index", "Investments")><i class="fa fa-list-alt" aria-hidden="true" title="Investment List"></i></a>
            <a href=@Url.Action("Index", "Dashboard")><i class="fa fa-tachometer" aria-hidden="true" title="Return to Dashboard"></i></a>
        </div>
    </div>

    <hr />

    <div class="addpadding" style="max-width:1200px;">
       
        <br />
        <table class="table">
            <tr class="dashtr">
                <th>
                    @*@Html.DisplayNameFor(model => Model.investmentsOut.date)*@
                    Date
                </th>
                <th>
                    Value of Grant
                    @*@Html.DisplayNameFor(model => model.amount)*@
                </th>
                <th>
                    Recipient
                    @*@Html.DisplayNameFor(model => model.entityTo)*@
                </th>
                <th>
                    Project To
                    @*@Html.DisplayNameFor(model => model.projectTo)*@
                </th>
                <th>
                    In Kind
                    @*@Html.DisplayNameFor(model => model.isInKind)*@
                </th>
                <th>
                    Tags
                    @*@Html.DisplayNameFor(model => model.categories)*@
                </th>
                <th>
                    Reports
                </th>
                <th>

                </th>

            </tr>

            @foreach (var item in Model.investmentsOut)
            {
                <tr class="dashtr">
                    <td>
                        @item.date.ToString("MM/dd/yyyy")
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.entityTo.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.projectTo.name)
                    </td>
                    <td>
                        @if (item.isInKind)
                        {
                            <span>Yes</span>
                        }

                        else
                        {
                            <span>No</span>
                        }
                    </td>
                    <td>
                        <ul style="list-style-type:none;">
                            @foreach (var category in item.categories)
                            {
                                //@Html.DisplayFor(model => category.name)
                                <li>@category.name</li>
                            }
                        </ul>
                    </td>

                    <td>
                        @if (item.projectTo.report != null)
                        {
                            //string reportID = Convert.ToString(item.projectTo.report.ID);
                            @Html.ActionLink("View Report", "Details", "Reports", new { id = item.projectTo.report.ID }, null)
                        }
                        else
                        {
                            <span>No report available.</span>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }


        </table>

        
    </div>

    </div>

