@model ImpactMap.Models.Project

@{
    ViewBag.Title = "Project Details";
}

<div class="container">
    <div class="pageInfo">
        <h2><i class="fa fa-file-text-o" aria-hidden="true"></i>@ViewBag.Title</h2>

        <div class="subNav">
            <a href=@Url.Action("Edit", new { id = Model.ID })><i class="fa fa-pencil" aria-hidden="true" title="Edit"></i></a>
            <a href=@Url.Action("Index", "Projects")><i class="fa fa-list-alt" aria-hidden="true" title="Projects List"></i></a>
            <a href=@Url.Action("Index", "Dashboard")><i class="fa fa-tachometer" aria-hidden="true" title="Return to Dashboard"></i></a>
        </div>


    </div>

    <div>
        <hr />
        <dl class="dl-horizontal projInfo">
            <dd>
                <span class="projName">@Html.DisplayFor(model => model.name)</span>
            </dd>

            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>
        </dl>
    </div>


    <div class="dashHeading">
        <h2>
            Incoming Investments
        </h2>
        </div>
        <div class="addpadding">
            @if (Model.investmentsIn.Count != 0)
            {

                <table class="table">
                    <tr>
                        <th>Date</th>
                        <th>Donor</th>
                        <th>Value</th>
                        <th>Report Status</th>
                    </tr>

                    @{foreach (var ivi in Model.investmentsIn)
                {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => ivi.date)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => ivi.entityFrom.name)
                                </td>

                                <td>
                                    $@Html.DisplayFor(modelItem => ivi.amount)
                                </td>

                                <td>
                                    @if (Model.report != null)
                                    {
                                        @Html.ActionLink("View Report", "Details", "Reports", new { id = Model.report.ID }, null)
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Create Report", "Create", "Reports", new { id = Model.ID }, null)
                                        <i class="fa fa-exclamation-circle alert" aria-hidden="true"></i>
                                    }
                                </td>

                            </tr>

                        }
                    }

                </table>
                        }

                        else
                        {
                            <p>This project has no incoming investments</p>
                        }
        </div>


    <div class="dashHeading">
        <h2>Outgoing Investments</h2>
        </div>
        <div class="addpadding">
            @if (Model.investmentsOut.Count != 0)
            {

                <table class="table">

                    <tr>
                        <th>Date</th>
                        <th>Recipient</th>
                        <th>Value</th>
                        <th>Report Status</th>
                    </tr>

                    @{foreach (var ivo in Model.investmentsOut)
                {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => ivo.date)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => ivo.entityTo.name)
                                </td>

                                <td>
                                    $@Html.DisplayFor(modelItem => ivo.amount)
                                </td>

                                <td>
                                    @if (ivo.projectTo.report != null)
                                    {
                                        //string reportID = Convert.ToString(item.projectTo.report.ID);
                                        @Html.ActionLink("View Report", "Details", "Reports", new { id = ivo.projectTo.report.ID }, null)
                                    }
                                    else
                                    {
                                        <span>No report available.</span>
                                    }
                                </td>

                            </tr>

                        }
                    }

                </table>
                        }

                        else
                        {
                            <p>This project has no outgoing investments</p>
                        }
        </div>





    </div>
