@model IEnumerable<ImpactMap.Models.Project>

@{
    ViewBag.Title = "Projects List";
}

<h2>Projects List</h2>
<br /><br />
<p class="addpadding">
    @Html.ActionLink("Create New", "Create")
</p>
<br />

<div class="addpadding" style="width:600px;">
<table class="table addpadding">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.report)
        </th>
    </tr>


    @if (Model != null)
    {

        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>            
                <td>
                    @{  if (item.report != null)
                    {
                        string reportID = Convert.ToString(item.report.ID);

                @Html.ActionLink("Report", reportID, "Details", "Report")
                    }
                    else
                    {
                <span>No report available.</span>
                    }
                    }
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                </td>
            </tr>

                            }
                        }
</table>
</div>