@model IEnumerable<ImpactMap.Models.Project>

@{
    ViewBag.Title = "Projects List";
}

<div class="container">
    <div class="pageInfo">
        <h2>@ViewBag.Title</h2>

        <div class="subNav">

            <a href=@Url.Action("Index", "Projects")><i class="fa fa-list-alt" aria-hidden="true" title="Projects List"></i></a>
            <a href=@Url.Action("Index", "Dashboard")><i class="fa fa-tachometer" aria-hidden="true" title="Return to Dashboard"></i></a>

        </div>


    </div>

    <hr />


    <div class="addpadding" style="width:600px;">
        <table class="table addpadding">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>

                </th>
            </tr>


            @if (Model != null)
            {

                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                        </td>
                    </tr>

                }
            }
        </table>

    </div>

    </div>
