@model IEnumerable<ImpactMap.Models.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Project List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.entity.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.investmentsIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.investmentsOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.report)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.entity.name)
            </td>
            <td>
                @{
                    foreach (var investmentIn in item.investmentsIn)
                    {
                        @Html.DisplayFor(model => investmentIn.entityFrom.name);
                        <br />
                        @Html.DisplayFor(model => investmentIn.amount)
                        <br />
                    }
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.investmentsOut)
            </td>
            <td>
                No reports lol ;)
            </td>
            <td>
                @{  if (item.report != null)
                    {
                        string reportID = Convert.ToString(item.report.ID);

                        @Html.ActionLink("Report", reportID, "Details", "Report")
                    }
                    else
                    {
                        <span>No report available.</span>
                    }
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
                    }

</table>
