@model IEnumerable<ImpactMap.Models.Project>

@{
    ViewBag.Title = "Projects List";
}

<div class="container">
    <div class="pageInfo">
        <h2><i class="fa fa-list-alt" aria-hidden="true"></i>@ViewBag.Title</h2>

        <div class="subNav">
            <a href=@Url.Action("Create", "Projects")><i class="fa fa-plus-circle" aria-hidden="true" title="Create New Project"></i></a>
            <a href=@Url.Action("Index", "Projects")><i class="fa fa-list-alt" aria-hidden="true" title="Projects List"></i></a>
            <a href=@Url.Action("Index", "Dashboard")><i class="fa fa-tachometer" aria-hidden="true" title="Return to Dashboard"></i></a>

        </div>


    </div>

    <hr />


    <div class="addpadding">
        <table id="projectList" class="table tablesorter addpadding">
            <thead>
                <tr class="dashtr">
                    <th>
                        @Html.DisplayNameFor(model => model.name)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.description)
                    </th>

                    <th>
                        Report Status
                    </th>

                    <th class="noSortTH">

                    </th>
                </tr>
            </thead>

            <tbody>
                @if (Model != null)
            {

                foreach (var item in Model)
                {
                        <tr class="dashtr">
                            <td>
                                @Html.DisplayFor(modelItem => item.name)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.description)
                            </td>

                            <td>
                                @if (item.report == null && item.investmentsIn.Count > 0)
                                {

                                    @Html.ActionLink("Report Due", "Create", "Reports", new { id = item.ID, @class = "alert" }, null)
                                    <i class="fa fa-exclamation-circle alert" aria-hidden="true"></i>
                                }
                                else if (item.report == null && item.investmentsIn.Count == 0)
                                {
                                    <div>No report available.</div>
                                }
                                else
                                {
                                    @Html.ActionLink("View Report", "Details", "Reports", new { id = item.report.ID }, null)
                                }
                            </td>
                            <td>
                                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                            </td>
                        </tr>

                    }
                }

            </tbody>

        </table>

    </div>

    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryTableSorter")
    <script>
        $(document).ready(function () {
            $("#projectList").tablesorter();
        });
    </script>
}
