@model IEnumerable<ImpactMap.Models.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Project List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.entity.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.investmentIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.investmentOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.report)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.entity.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.investmentIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.investmentOut)
        </td>
        <td>
            This needs to be a link to a report ;)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
